node_modules
node_modules/.bin
node_modules/.cache
node_modules/.staging
node_modules/.yarn-integrity
node_modules/.yarn-metadata
node_modules/.yarn-tarball
node_modules/.yarn-unplugged
node_modules/.yarn
node_modules/.yarnrc
node_modules/.yarnrc.yml
node_modules/.yarnignore
node_modules/.npmrc
node_modules/.npmignore
node_modules/.npm
node_modules/.gitignore
node_modules/.gitattributes
node_modules/.git
node_modules/.hgignore
node_modules/.hg
node_modules/.lock-wscript
node_modules/.wafpickle-N
node_modules/.lock-wscript
node_modules/@typescript-eslint
